
.isInvalid {
    border: 1px solid red;
}
.btnSignIn {
    width: 100%;
    height: 45px;
}
.profileImage {
    height: 120px;
    width: 120px;
    border: 1px solid #0088cc;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.cards {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSection {
    width: 100%;
}
.mainContent {
    padding: 10px;
}
.mainContent .pagination {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.mainContent .pagination > ol {
    padding: 0;
    margin: 0;
}
.mainContent .pagination > ol > li {
    background-color: #595656;
    position: relative;
    color: #ffffff;
    display: inline-block;
    margin: 0 25px 0 0;
    padding: 2px;
    width: 180px;
    text-align: center;
}
.mainContent .pagination > ol > li:after {
    position: absolute;
    content: "";
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #FFFFFF;
    left: -13px;
    top: 0;
    display: inline-block;
    background: #595656;
}
.mainContent .pagination > ol > li:first-child::after {
    display: none;
}

.mainContent .pagination > ol > li:before {
    position: absolute;
    content: "";
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #595656;
    right: -10px;
    top: 0;
    display: inline-block;
    background: #FFFFFF;
}
.mainContent .pagination > ol > li > a {
    text-decoration: none;
    color: #ffffff;
}
.backButton {
    background: #5ab5d4;
    border: 1px solid #5ab5d4;
    height: 45px;
    width: 50px;
    color: #ffffff;
    font-weight: 500;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.backButton > i {
    font-size: 28px;
}
.contentWrap{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contentWrap .contentLeft {
    width: 50%;
}
.contentWrap .contentRight {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.contentWrap .newAssetsClass {
    margin-top: 10px;
    margin-bottom: 20px;
}
.contentWrap .newAssetsClass > label {
    width: 100%;
    display: block;
}
.contentWrap .newAssetsClass > input[type="text"] {
    height: 40px;
    border: 2px solid #5ab5d4;
    width: 50%;
    margin-top: 5px;
}
.contentWrap .createBox {
    margin-bottom: 20px;
    position: relative;
}
.createButton {
    height: 200px;
    border: 2px solid #5ab5d4;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-size: 18px;
    font-weight: 500;   
}
.createButton p {
    margin-top: 10px;
}
.createButton .plusIcon {
    border: 1px solid #222222;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #d9d9d9;
    font-size: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.createButton .plusIcon span {
    position: absolute;
    top: -27px;
}
.contentWrap .importAssetsWrap {
    display: flex;
    justify-content: center;
    align-items: center;

}
.btnImportAssets {
    background: #c6ecf9;
    display: flex;
    height: 40px;
    min-width: 158px;
    justify-content: flex-start;
    border-radius: 22px;
    font-weight: 500;
}
.btnImportAssets > span {
    position: relative;
    top: 6px;
}
.btnImportAssets .plusIcon{
    border: 1px solid #222222;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #d9d9d9;
    font-size: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
}
.btnImportAssets .plusIcon span{
    position: absolute;
    top: -27px;
}
.contentWrap .searchBox {
    margin-top: 20px;
    width: 100%;
}
.contentWrap .searchBox input[type="text"]{
    height: 40px;
    border: 2px solid #5ab5d4;
    width: 50%;
    margin-top: 5px;
}

.saveWrap {
    position: absolute;
    bottom: 30px;
}

.btnsave {
    outline: none;
    position: relative;
    border: 2px solid #5ab5d4;
    background-color: #5ab5d4;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 100px;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.btnsave:hover {
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    border: 2px solid #5ab5d4;
    background-color: #ffffff;
    color: #5ab5d4;
}

.searchBox {
    position: relative;
    display: inline-block;
}
.searchBox input[type="text"]{
    height: 46px;
    border: 2px solid #5ab5d4;
    padding: 0 40px 0 10px;   
    width: 280px; 
    border-radius: 5px;
}
.searchBox .fasearch {
    position: absolute;
    right: 9px;
    top: 13px;
}

.importAssets {
    position: relative;
}
.btnImportAsset {
    height: 46px;
    border: 2px solid #5ab5d4;
    outline: none;
    padding: 0;
    margin: 0;
    width: 176px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 31px;
}
.btnImportAsset .faplus {
    height: 40px;
    width: 40px;
    background: #c7c7c7;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 10px;
    color: #777;
    margin-left: 2px;
}


.rowMargin {
    margin-top: 30px;
}
.createBlock .btnCreateBlock {
    border: 2px solid #5ab5d4;
    outline: none;
    border-radius: 5px;
    height: 172px;
    width: 100%;
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #222222;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.createBlock .btnCreateBlock > i{
    height: 40px;
    width: 40px;
    background: #c7c7c7;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 10px;
    color: #777;
    margin-left: 2px;
}
.createBlock .btnCreateBlock .blockText{
    font-weight: 500;
    font-size: 20px;
}
.createBlock .btnCreateBlock:hover  {
    background: #5ab5d4;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.btnBgBlue {
    background: #5ab5d4;
}

.formControl {
    border: 2px solid #5ab5d4;
    width: 70%;
    height: 46px;
}

.formControlTextarea {
    border: 2px solid #5ab5d4;
    min-height: 150px !important;
}
.formControlFull {
    width: 100%;
    border: 2px solid #5ab5d4;    
    height: 46px;
}
.createBlockv2 {
    width: 70%;
}
.formGroup {
    margin-bottom: 30px;
    position: relative;
}
.formGroup label {
    margin-bottom: 5px;
}
.searchBoxv2 {
    position: relative;
    display: inline-block;
    margin-top: 29px;
}
.searchBoxv2 input[type="text"]{
    height: 46px;
    border: 2px solid #5ab5d4;
    padding: 0 40px 0 10px;   
    width: 280px; 
    border-radius: 5px;
}
.searchBoxv2 > .fasearch {
    position: absolute;
    right: 9px;
    top: 13px;
}
.colpos {
    position: relative;
}
.btnBlue {
    outline: none;
    position: relative;
    border: 2px solid #5ab5d4;
    background-color: #5ab5d4;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    min-width: 175px;
    padding: 0 10px;
    text-transform: capitalize;
    margin-right: 15px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.btnBlue:hover {
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    border: 2px solid #5ab5d4;
    background-color: #ffffff;
    color: #5ab5d4;
}
.marginZero {
    margin: 0;
}
.formGroup select {
    border: 2px solid #5ab5d4;
}
.selectBlock {
    position: relative;
    display: inline-block;
}
.selectBlock select {
    width: 350px;
}
.selectBlock i {
    position: absolute;
    bottom: 14px;
    right: 8px;
    font-size: 27px;
    color: #c7c7c7;
}
.title {
    margin-bottom: 30px;
}
.flexRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.blueBg {
    background-color: #C6ECF9;
}
.blueBg:hover {
    background-color: #ffffff !important;
}

.loginTitle, 
.underlinev2 {
    text-decoration: none;
    color: #ffffff;
}



.inputWrap input[type="text"] {
    height: 46px;
    border: 2px solid #5ab5d4;
    margin-top: 5px;
}
.btnWrap > button, 
.btnWrap > a {
    width: 100%;
}
.imageBlock {
    border: 2px solid #5ab5d4;
    outline: none;
    border-radius: 5px;
    height: 172px;
    width: 100%;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #222222;
    background-color: #5ab5d4;;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.imageBlock span {
    font-size: 21px;
}

.folderStructure {
    text-align: center;
}
.folderStructure > button > span, 
.folderStructure > a > span {
    margin-top: 15px;
    display: inline-block;
}



.imageDetailWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.imageDetailWrap .imageDetail{
    margin-right: 30px;
}
.imageDetailWrap .undoChanges{
    margin-right: 30px;
}
.imageDetailWrap .undoChanges button {
    outline: none;
    border: 0;
    background: 0;
    margin: 0;
    padding: 0;
}
.imageDetailWrap .undoChanges span{
    margin-left: 10px;
}
.imageDetailWrap .regionsShown{}
.checkWrap {
    position: relative;
    display: inline-block;
    width: 50px;
}
.checkWrap input[type="checkbox"]{
    transform: scale(3.5 , 1.5);
    margin: 0 0 0 15px;
    padding: 0;
    position: relative;
    z-index: 9;
    opacity: 0;
    display: inline-block;
}
.checkWrap .chklbl {
    position: absolute;
    background: #cccccc;
    height: 20px;
    width: 46px;
    left: -2px;
    top: 2px;
    border-radius: 30px;
    transition: all 0.4s ease-in;
}
.checkWrap .chklbl:after {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background: #ffffff;
    border-radius: 50%;
    left: 6px;
    top: 3px;
    transition: all 0.4s ease-in;
}
.checkWrap input[type="checkbox"]:checked + .chklbl{
    background: #5ab5d4;
    transition: all 0.4s ease-in-out;
}
.checkWrap input[type="checkbox"]:checked + .chklbl:after{
    right: 6px;
    left: auto;
    transition: all 0.4s ease-in-out;
}
.imageWrapp {
    background-color: #e5e5e5;
    min-height: 530px;
    text-align: center;
}
.imageWrapp img {
    display: inline-block;
}

.detailWrap {}
.detailWrap .sideBlock {
    margin-bottom: 40px;
}
.detailWrap h5 {
    margin-bottom: 20px;
    color: #555555;
}
.detailWrap .tags {}
.detailWrap .tags a{
    background: #e5e5e5;
    color: #000000;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 38px;
    padding: 5px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 15px;
}
.detailWrap .tags a i {
    margin-left: 8px;
}
.detailWrap .sliderWrap {}
.detailWrap .sliderWrap p {}
.detailWrap .sliderWrap .rangeSlider {}
.detailWrap .sliderWrap .rangeSlider input[type="range"] {
    width: 80%;
}
.detailWrap .sliderWrap .rangeSlider label {
    text-transform: capitalize;
    display: block;
}
.detailWrap .predictionsTxt {}
.detailWrap .predictionsTxt span{
    color: red;
}
.detailWrap .predictionsTable {
    margin-top: 20px;
}
.predictionsTable table thead th{
    background: #e5e5e5;
    height: 40px;
    vertical-align: middle;
    color: #666;
    padding: 0 5px;
}


.searchBoxOuter {
    display: inline-block;
    position: relative;
}
.suggestionBox {
    padding: 0;
    border: 2px solid #5ab5d4;
    margin-top: 3px;
    border-radius: 5px;
    max-height: 331px;
    overflow: hidden;
    min-height: 0;
}
.suggestionList {
    margin: 0;
    padding: 0;
    overflow: auto;
    min-height: 00px;
    max-height: 328px;
}
.suggestionList > li > button {
    height: 40px;
    width: 40px;
    background: #c7c7c7;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 10px;
    color: #777;
    margin-left: 2px;
    border: 0;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.suggestionList > li > button:hover {    
    background: #5ab5d4;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;

}
.suggestionList > li {
    padding: 5px 5px;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showText {
    border-bottom: 2px solid lightgrey;
    padding: 5px 0;
    font-weight: 500;
    color: #5ab5d4;
}
.viewSubAssets .formGroup label {
    font-weight: 700;
}